<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReliveExperience.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C87DE05F1C16D0840021BD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87DE0761C16D0850021BD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87DE0811C16D0850021BD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
